
@{
    ViewBag.Title = "Welcome";
}


<html>
<head>
    <style>
        body {
            background-image: url('../../Images/Wecome.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
     </style>
    </head>
<body>
    <center><h1> Welcome , @Session["Username"] 🤗</h1></center>
</body>
</html>




